:root {
    --primaryColor: #013991;
    --textColor: #ffffff;
    --bgColor: #f0f0f0;
    --confirmColor: rgb(13, 196, 13);
    --denyColor: rgb(196, 16, 16);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
        "nav main";
    grid-template-columns: 15% 1fr;
    min-height: 100vh;
    margin: 0;
    background-color: var(--bgColor);
}

.nav {
    grid-area: nav;
    background-color: var(--primaryColor);
}

.dash-main {
    grid-area: main;
    padding: 20px;
}

.option-holder{
    display: flex;
    justify-content: space-between;
}

.konfirmasi-ruangan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.konfirmasi-ruangan > *:nth-child(2) {
    margin-left:85%;
}

.konfirmasi-ruangan > *:last-child {
    margin-left: 0;
}

.konfirmasi-ruangan div {
    display: flex;
    flex-direction: column;
}

.ruangan {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.peminjam {
    font-size: 1em;
    margin-bottom: 10px;
}

.date-time {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #555;
    width: 150px;
}

.date {
    margin-right: 10px;
}

.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.confirm-box:checked ~ .checkbox-container {
    background-color: var(--confirmColor);
}

.deny-box:checked ~ .checkbox-container {
    background-color: var(--denyColor);
}

.checkbox-container:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkbox-container:after {
    display: block;
}

.container .checkbox-container:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
