:root{
    --primaryColor: rgba(1,39,145,255);
}

body{
    margin: 0;
}
/* set template grid */
.website-body{
    display: grid;
    grid-template-areas: 
    "header header secondary"
    "main main secondary"
    "main main secondary"
    ;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-rows: 80px 1fr;
    height: 100vh;
    column-gap: 10px;
    grid-gap: 10px;
}
/*  */

.header{
    grid-area: header;
    border-bottom: solid 3px var(--primaryColor);
}
    .navbar{
        margin-top: 10px;
        margin-left: 16px;
        display: flex;
    }
        .logo{
            display: flex;
            align-items: center;
        }

        .logoUndip{
            width: 50px;
        }

        .logoTextContainer{
            margin-left: 10px;
        }
            .logoText{
                margin: 0;
                display: block;
            }
        .navbarMenu{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
            .navbarMenuOpt{
                margin-left: 10px;
            }
.main{
    grid-area: main;
}

.secondary{
    grid-area: secondary;
    background-color: var(--primaryColor);
}
    .categories{
        display: grid;
    }
        .cat-title{
            color: white;
        }
        
        .cat-text{
            color: white;
            padding-right: 20px;
        }

        .cat-holder{
            display: flex;
            align-items: center;
        }

            .cat-exter{
                height: 5px;
                width: 100%;
                background-color: rgba(100,203,192,255);
            }

            .cat-inter{
                height: 5px;
                width: 100%;
                background-color: rgba(45,201,113,255);
            }

            .cat-maint{
                height: 5px;
                width: 100%;
                background-color: rgba(220,74,64,255);
            }

            .cat-zoom{
                height: 5px;
                width: 100%;
                background-color: rgba(242,187,7,255);
            }