:root{
    --primaryColor: rgb(41, 65, 204);
}

body{
    margin: 0;
}
/* set template grid */
.website-body{
    display: grid;
    grid-template-areas: 
    "header header secondary"
    "main main secondary"
    "main main secondary"
    ;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-rows: 80px 1fr;
    height: 100vh;
    column-gap: 10px;
    grid-gap: 10px;
}
/*  */

.header{
    grid-area: header;
    border-bottom: solid 3px var(--primaryColor);
    background-color: lightcoral;
}
    .navbar{
        margin-top: 10px;
        margin-left: 16px;
        display: flex;
    }
        .logo{
            display: flex;
            align-items: center;
        }

        .logoUndip{
            width: 50px;
        }

        .logoTextContainer{
            margin-left: 10px;
        }
            .logoText{
                margin: 0;
                display: block;
            }
        .navbarMenu{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
            .navbarMenuOpt{
                margin-left: 10px;
            }
.main{
    grid-area: main;
    background-color: lightpink;
}

.secondary{
    grid-area: secondary;
    background-color: lightgreen;
}