.navbar {
    margin-top: 10px;
    margin-left: 16px;
    display: flex;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logoUndip {
    width: 50px;
}

.logoTextContainer {
    margin-left: 10px;
}

.logoText {
    margin: 0;
    display: block;
}

.navbarMenu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbarMenuOpt {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.navbar-icon{
    display: inline-block;
}

.navbar-icon-image{
    vertical-align: middle;
}

.calendarOpt{
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Monserrat', sans-serif;
    color: black;
}

.calendar-text {
    font-family: 'Roboto';
    color: black;
    margin-top: 2px;
    font-size: 1em; /* Adjust the font size of the calendar text */
}

.fa-stack {
    margin-left: 40px;
    display: inline-flex;
    align-items: center;
}
