.navbar {
    margin-top: 10px;
    margin-left: 16px;
    display: flex;
    width: 98.5%;
}

.logo {
    display: flex;
    align-items: center;
}

.logoUndip {
    width: 50px;
}

.logoTextContainer {
    margin-left: 10px;
}

.logoText {
    margin: 0;
    display: block;
}

.navbarMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbarMenuOpt {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.navbar-icon{
    display: inline-block;
}

.navbar-icon-image{
    vertical-align: middle;
}

.calendarOpt{
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Monserrat', sans-serif;
    color: black;
}

.calendar-text {
    font-family: 'Roboto';
    color: black;
    margin-top: 4px;
    font-size: 1em;
}

.fa-stack {
    margin-left: 30px;
    display: inline-flex;
    align-items: center;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--primaryColor);
    cursor: pointer;
  }
  
  .profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    transform: translateY(-10px); /* Adjusted translateY value */
    right: 6px;
  }
  
  .profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease; /* Added transition for background-color */
  }
  
  .profile-dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .profile-dropdown:hover .profile-dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
