.select{
    display: flex;
}


.form-select{
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Apply general styles to the table */
#reservationTable {
    border-collapse: collapse;
    width: 100%;
}

/* Style for table headers */
#reservationTable th {
    background-color: #f2f2f2; /* Light gray background */
    border: 1px solid #ddd; /* Gray border */
    padding: 12px; /* Padding around text */
    text-align: left; /* Align text to the left */
}

/* Style for table cells */
#reservationTable td {
    border: 1px solid #ddd; /* Gray border */
    padding: 10px; /* Padding around text */
    text-align: left; /* Align text to the left */
}

/* Style for odd rows */
#reservationTable tr:nth-child(odd) {
    background-color: #f9f9f9; /* Light gray background for odd rows */
}

/* Hover effect for rows */
#reservationTable tr:hover {
    background-color: #f2f2f2; /* Lighter gray background on hover */
}
